@media only screen and (max-width: 1440px){  
}

body{
  background-color: #181818FF;
  color: white;
  font-family: Oswald, sans-serif;
}

/*Navigation Bar */

#header-img{
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 1px;
  margin-right: 30rem;
}

.top-nav{
  background-color: Black;
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  position: fixed;
  padding: 0px 1000px 4px 0px;
  top: 0px;  
  z-index: 3;
}

.nav-link{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 9rem;
  color: White;
  background-color: black;
  font-size:24px;
  transition: color .4s;
}

.nav-link:hover{
  color: #590B9CFF;

}

/*Email Card - Agregarle un comportamiento con JS/add apear animation with js  */

#form{
  padding: 45px 2px 1px;
}

#email-label{
  margin: 10px 2px 1px;
}
/*Home Section */

#home{
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 15rem;
  padding: 120px 100% 120px 0px;
  margin-bottom: 4px;
}

h1{
display: flex;
flex-wrap: nowrap;
flex-grow: 100%;
flex-direction: row;
font-size: 36px;
text-align: center;
justify-content: center;
width:100%;
height: 15%;
margin-top: 0%;
}



.video{
  border: 1px solid #141414FF;
  padding: 1px 200px;
  margin: 100px 200px 0px 100px;
}


/*Description Section */

#what{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 200px 100% 150px 0px;
  width: 100%;
}

.land-image{
  display:flex;
  flex-wrap: nowrap;
  height: 400px;
  width: 400px;
  margin-bottom: 9rem;
}

.description1{
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  font-size: 23px;
  margin-top: 15rem;
}

/*Social Network Links Section */

#posts{
  display: grid;
  padding: 40px 800px 40px 200px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.description_{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 600px;
  height: 2rem;
  text-align: center;
  font-size: 20px;
  margin-left: 90px;
}

.link-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin-left: 90px;
}

.link-social-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin-left: 90px;
}

.image-link{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 40px;
  height: 40px;
  margin: 10px 4px 5px 4px;
  padding: 10px;
  opacity: 0.4;
  filter: saturate(5%);
  z-index: 1;
  transition: opacity 500ms, filter 500ms;
}

.image-link:hover{
  animation-name: colorsito;
  opacity:1;
  filter:saturate(100%);
  transition: 500ms;
}

/*Patreon Section */

#patreon{
  margin-top: 40px;
}

h3{
  margin: 15px 12px;
  text-align: center;
  font-size: 40px;
}

#offers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 15px;
  padding: 15px 15px 55px;
  margin: 5px 20px 25px;
  text-align: center;
  font-size: 25px;
}

h4{
  width: 99.99%;
  height: 10%;
}

ul{
  width: 99.99%;
  height: 60%; 
  box-sizing: border box;
  text-align: left;
  font-size: 20px;
}

.botonsote {
  width: 99%;
  height:10%;
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
  
}
.botonsote:before {
  height: 0%;
  width: 2px;
}
.botonsote:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/*For Mobile Devices */

@media only screen and (max-width: 550px){  
}